.content-enter {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
}

.content-enter-active {
  opacity: 1;
  max-height: 500px;
  /* Change this value to a suitable maximum height */
  transition: opacity 300ms, max-height 300ms;
  overflow: hidden;
}

.content-exit {
  opacity: 1;
  max-height: 500px;
  /* Change this value to a suitable maximum height */
  overflow: hidden;
}

.content-exit-active {
  opacity: 0;
  max-height: 0;
  transition: opacity 300ms, max-height 300ms;
  overflow: hidden;
}